.fordform {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    font-size: 70%;
    padding-block: 0px;
    padding-inline: 0px;
}
#formsInt{
    gap: 5px;
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    width: fit-content;
    gap: 5px;
    flex-direction: column;
}
select.fordform {

    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    
    vertical-align: top;
    text-align: left;
    padding-top: 30px;

}

.forms {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h2 {
   
    font-weight: 800;
}


button {
    width: 200px;
    height: 40px;
    margin-right: 8px;
    float: right;
    background-color: white;
    border: 2px solid #1351d8;
    border-radius: 10px;
    color: #1351d8;    
    transition: 1.5s;
    
}
button:hover{
    transform: scale(1.1);
    color: white;
    background-color: #1351d8;

}

.titulo {
    margin-left: 8px;
}
#areaTexto{
    resize: none;
    display: block;
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-size: 100%;
}