@media screen and (max-width: 550px) {
    #carousel-title{
        font-size: 70%;
    }
}
@media screen and (max-width: 380px) and (max-height: 867px) {
    header{
        flex-direction: column;
    }
    
}
@media screen and (max-width:275px) {
    footer{
        font-size: 10%;
    }    
}
@media screen and (max-width: 1000px) {
    header nav a{
        font-size: 90%;
    }
    
}
@media screen and (max-width: 460px) {
    header nav a {
        font-size: 80%;
    }
    header ul{
        flex-direction: column;
    }
    div#compare{
        font-size: 60%;
    }
    
}
@media screen and (max-width: 320px) {
    header nav a {
        font-size: 60%;
    }
    
}
@media screen and (max-width: 520px) {
    .forms{
        flex-direction: column;
    }
 
    
}
@media screen and (max-width: 920px) {
    div#compare{
        min-width: fit-content;
        left: 0;
    }
    
}
@media screen and (max-width: 760px) {
   #video_e_texto{
        flex-direction: column-reverse;
    }
    #texto{
        width: 100%;
    }
    #videoFord{
        width: 100%;
    }
}
@media screen and (max-width: 650px) {
    .logo{
        width: 16%;
    }
    
}